/* цифры для таймера */

.counter {
  display: flex;
  justify-content: center;
  align-items: center;
}
.num {
  width: 13px;
  height: 23px;
  background: url(/public/img/minesweeper-sprites_9TPZzv3.png);
}
