.face {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 26px;
  height: 26px;
  background: url(/public/img/minesweeper-sprites_9TPZzv3.png);
  background-position: 0px -24px;
}
.face:active {
  background-position: -27px -24px !important;
}
