/* Указываем box sizing */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Убираем внутренние отступы */
ul[class],
ol[class] {
  padding: 0;
}

/* Убираем внешние отступы */
body,
h1,
h2,
h3,
h4,
p,
ul[class],
ol[class],
li,
figure,
figcaption,
blockquote,
dl,
dd {
  margin: 0;
}

/* Выставляем основные настройки по-умолчанию для body */
body {
  min-height: 100vh;
  scroll-behavior: smooth;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
}

/* Удаляем стандартную стилизацию для всех ul и il, у которых есть атрибут class*/
ul[class],
ol[class] {
  list-style: none;
}

/*  Создаем границы для контейнеров */
.bordersOut {
  border-bottom-color: #999;
  border-left-color: white;
  border-right-color: #999;
  border-style: solid;
  border-top-color: white;
  border-width: 4px;
}
.bordersIn {
  border-bottom-color: white;
  border-left-color: #7b7b7b;
  border-right-color: white;
  border-style: solid;
  border-top-color: #7b7b7b;
  border-width: 4px;
}
#root {
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}
.App {
  margin: 0 auto;
  width: fit-content;
  padding: 5px;
  background: #c2c2c2;
}

.header {
  padding: 5px;
  margin-bottom: 5px;
  background: #c0c0c0;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
